---
- name: install yq
  include_role:
    name: install-1.0.0
  vars:
    opts:
      dest_path: /usr/bin/yq
      file_mode: '755'
      pkg_name: yq
      pkg_version: "{{ yq_version }}"
      pkg_type: ''
      pkg_url: https://github.com/mikefarah/yq/releases/download/{{ yq_version }}/yq_linux_amd64
