[Unit]
Description=LVS and VRRP High Availability Monitor
After=network-online.target syslog.target
Wants=network-online.target
ConditionFileNotEmpty=/opt/app/conf/keepalived/keepalived.conf

[Service]
Type=forking
PIDFile=/var/run/keepalived.pid
KillMode=process
ExecStart=/opt/keepalived/current/sbin/keepalived -f /opt/app/conf/keepalived/keepalived.conf -D -p /var/run/keepalived.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
