[Unit]
Description=Redis Sentinel
After=network.target

[Service]
Type=notify
User=redis
Group=svc
WorkingDirectory=/tmp
ExecStart=/opt/redis/current/redis-sentinel /data/redis/sentinel.conf
Restart=always

LimitNOFILE=65536

CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
